.search-form {
  width: 100%;
  max-width: 680px;
}
.search-form-elem {
  padding: 1.2rem 2.2rem;
  border-radius: 50px;
  background-color: antiquewhite;
}
.search-form-elem .form-control {
  font-size: 1.5rem;
  padding: 0.6rem;
}
.search-form-elem .form-control::placeholder {
  opacity: 0.9;
}
.reset-btn {
  border-radius: 20px;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
